<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <!-- 상단 푸터 영역 -->
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">연락처</h5>
            <p class="mb-4">
                Trillion-Shop 온라인 도서 쇼핑몰입니다.
                문의 사항이 있으시면 언제든지 연락주세요.
            </p>
            <p class="mb-2">
                <i class="fa fa-map-marker-alt text-primary mr-3"></i>Seoul, Korea
            </p>
            <p class="mb-2">
                <i class="fa fa-envelope text-primary mr-3"></i>info@example.com
            </p>
            <p class="mb-0">
                <i class="fa fa-phone-alt text-primary mr-3"></i>+82-10-0000-0000
            </p>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">빠른 이동</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" th:href="@{/}">
                            <i class="fa fa-angle-right mr-2"></i>홈
                        </a>
                        <a class="text-secondary mb-2" th:href="@{/api/books}">
                            <i class="fa fa-angle-right mr-2"></i>도서 목록
                        </a>
                        <a class="text-secondary mb-2" th:href="@{/api/carts}">
                            <i class="fa fa-angle-right mr-2"></i>장바구니
                        </a>
                        <a class="text-secondary mb-2" th:href="@{/api/orders}">
                            <i class="fa fa-angle-right mr-2"></i>주문 내역
                        </a>
                        <a class="text-secondary" href="javascript:void(0);">
                            <i class="fa fa-angle-right mr-2"></i>고객센터
                        </a>
                    </div>
                </div>
                <!-- 필요하면 다른 컬럼(예: 고객센터 링크, 회사 정보 등) 추가 -->
            </div>
        </div>
    </div>

    <!-- 하단 카피라이트 -->
    <div class="row border-top mx-xl-5 py-4"
         style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy;
                <a class="text-primary" href="#">Trillion-Shop</a>.
                All Rights Reserved.
                Designed by <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" th:src="@{/img/payments.png}" alt="지원 결제 수단">
        </div>
    </div>
</th:block>

<th:block th:fragment="back_to_top">
    <i class="fa fa-angle-double-up"></i>
</th:block>

<th:block th:fragment="scripts">
    <!-- 공통 JS 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</th:block>
</html>
