<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <div class="container-fluid footer-area mt-5 pt-4">

        <div class="row px-xl-5 pt-3">
            <div class="col-lg-4 col-md-12 mb-4 pr-3 pr-xl-5">
                <h5 class="text-white text-uppercase mb-4 font-weight-bold">Trillion-Shop</h5>
                <p class="mb-4 text-white-50">Trillion-Shop 온라인 도서 쇼핑몰입니다.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt mr-3"></i>Seoul, Korea</p>
                <p class="mb-2"><i class="fa fa-envelope mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt mr-3"></i>+82-10-0000-0000</p>
            </div>

            <div class="col-lg-8 col-md-12">
            </div>
        </div>

        <div class="row border-top mx-xl-5 py-3" style="border-color: rgba(255, 255, 255, 0.1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-white-50">
                    &copy; <a class="text-white font-weight-bold" href="#">Trillion-Shop</a>. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="back_to_top">
    <i class="fa fa-angle-double-up"></i>
</th:block>

<th:block th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</th:block>
</html>