<!--
  ~ /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  ~ + Copyright 2025. NHN Academy Corp. All rights reserved.
  ~ + * While every precaution has been taken in the preparation of this resource,  assumes no
  ~ + responsibility for errors or omissions, or for damages resulting from the use of the information
  ~ + contained herein
  ~ + No part of this resource may be reproduced, stored in a retrieval system, or transmitted, in any
  ~ + form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the
  ~ + prior written permission.
  ~ +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  -->

<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<head>
  <meta charset="utf-8">
  <title>Trillion-Shop | 로그인</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link th:href="@{/img/favicon.ico}" rel="icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
  <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link href="/css/style.min.css" rel="stylesheet">

  <style>
    .auth-card {
      max-width: 720px;
      width: 100%;
    }

    .auth-wrapper {
      min-height: 75vh;
    }

  </style>
</head>

<body>
<div class="container-fluid">
  <!-- 상단 회색 바 -->
  <div class="row bg-secondary py-1 px-xl-5">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="d-inline-flex align-items-center h-100">
        <a class="text-body mr-3" href="">About</a>
        <a class="text-body mr-3" href="">Contact</a>
        <a class="text-body mr-3" href="">Help</a>
        <a class="text-body mr-3" href="">FAQs</a>
      </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex align-items-center d-block">
        <span class="text-body small">Trillion-Shop에 오신 것을 환영합니다.</span>
      </div>
    </div>
  </div>

  <!-- 로고 영역 -->
  <div class="row align-items-center bg-light py-3 px-xl-5">
    <div class="col-lg-4">
      <a th:href="@{/}" class="text-decoration-none">
        <img src="/static/img/logo.png" alt="Book E-commerce Logo"
             class="img-fluid" style="background-color: #fff;">
      </a>
    </div>
  </div>
</div>

<!-- 로그인 폼 -->
<div class="container auth-wrapper d-flex align-items-center justify-content-center py-5">
  <div class="auth-card bg-light p-4 p-md-5 border">
    <h4 class="mb-4 text-center">로그인</h4>

    <form th:action="@{/api/auth/login}" method="post">
      <div class="form-group">
        <label for="email">이메일</label>
        <input id="email" name="email" type="email"
               class="form-control" placeholder="example@email.com" required>
      </div>

      <div class="form-group">
        <label for="password">비밀번호</label>
        <input id="password" name="password" type="password"
               class="form-control" placeholder="비밀번호를 입력하세요" required>
      </div>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe">
          <label class="custom-control-label" for="rememberMe">로그인 상태 유지</label>
        </div>
        <a th:href="@{/api/auth/forgot-password}" class="small">비밀번호 찾기</a>
      </div>

      <button type="submit" class="btn btn-primary btn-block py-2 mb-3">
        로그인
      </button>

      <div class="text-center mb-2">
        <small class="text-muted">아직 회원이 아니신가요?</small>
      </div>
      <a th:href="@{/api/auth/signup}" class="btn btn-outline-secondary btn-block">
        회원가입 하러가기
      </a>

      <hr>

      <div class="text-center">
        <a th:href="@{/api/orders/guest}" class="small">
          비회원 주문조회 바로가기
        </a>
      </div>
    </form>
  </div>
</div>

<a href="#" class="btn btn-primary back-to-top">
  <i class="fa fa-angle-double-up"></i>
</a>

<script th:src="@{/js/main.js}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
</body>
</html>
